.detailsPage {
  text-align: center;
  background-color: red;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* 

.lineTemp {
  width: 10%;
  display: flex;
  margin-top: 1rem;
  flex-direction: row;
  align-items: center;
}

.homeColumn {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  padding-right: 2rem;
  border-right: 1px solid #DDDDDD;
}

.degree {
  font-size: 80px;
}

.degree-var {
  font-size: 16px;
}

.boxForecast {
  display: flex;
  align-items: center;
}

.forecastTitle {
  font-size: 16px;
} */
