.homePage {
  text-align: center;
  background-color: #111317;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.title {
  font-size: 52px;
  margin-bottom: -10px;
}
.subTitle {
  font-size: 30px;
}
.globe {
  width: 200px;
  height: 200px;
  margin-top: 2rem;
}
.boxCities {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 30%;
}
.lineCities {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4rem;
}
.link {
  color: white;
  text-decoration: none;
}

@media (max-width: 600px) {
  .homePage {
    width: 100%;
  }
  .title {
    font-size: 30px;
  }
  .subTitle {
    font-size: 16px;
  }
  .globe {
    width: 100px;
    height: 100px;
    margin-top: 2rem;
  }
  .boxCities {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .lineCities {
    margin-top: 2rem;
  }
  .link {
    margin-left: 1rem;
  }
}